.copyright {
  color: var(--gray-x);
  font-size: var(--fs-10);
  font-weight: var(--fw-500);
  line-height: 1.7;
  text-align: center;
  margin-bottom: 15px;
}

.copyright > a {
  display: inline-block;
  color: var(--citrine);
}

.footer-bottom {
  padding-block: 25px;
  background: #040102;
}

.footer-bottom-img {
  max-width: max-content;
  width: 100%;
  margin-inline: auto;
}
